@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Roboto&display=swap");

#root {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  --fondo: #f7f3d5;
  --fondomasoscuro: #ffdabf;
  --NavbaryFooter: #fa9b9b;
  --destacado: #e88087;
  --letras: #635063;
}
.letraDestacada {
  font-family: "Gasoek One", sans-serif;
}
.mainSection{
  flex-grow: 1;
}

/*Pagina administrador*/
.tituloDestacado{
  color: var(--destacado);
}

.tamanioCelda{
  max-width: 10rem;
}
#btnCrearReceta {
  background-color: var(--destacado);
  border-color: #f7f3d5;
}

#btnCrearReceta:hover {
  background-color: var(--NavbaryFooter);
}

.btnEditar {
  background-color: rgb(127, 240, 40);
  border-color: rgb(127, 240, 40);
}

.btnEditar:hover {
  background-color: rgb(171, 255, 107);
  border-color: rgb(127, 240, 40);
}

.btnEliminar {
  background-color: rgb(250, 111, 111);
  border-color:  rgb(250, 111, 111);
}

.btnEliminar:hover {
  background-color: rgb(250, 87, 87);
  border-color:  rgb(250, 111, 111);
}
/*Estilos para el formulario crear y editar*/
.formControl{
  color: var(--fondomasoscuro);
}
.cardForm{
  background-color: var(--letras);
}